<%- include('../admin/header.ejs') %>
 
<%- include('../admin/navigation') %>
</head>

<body>
  

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/admin/new-password" method="POST">
            <div class="form-control">
                <label for="email">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="hidden" name="userId" value="<%= userId %>">

            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
         
            <button class="btn" type="submit">Update Password</button>
        </form>
    </main>
