<%- include('header.ejs') %>
<%- include('navigation.ejs') %>



<div id="content" class="container-fluid">
    <div class="card">
        <div class="card-header font-weight-bold">
            Danh sách sản phẩm
        </div>
        <div class="card-body">
         
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ảnh</th>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Mô tả</th>
                        <th scope="col">Chi tiết</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Tác vụ</th>
                    </tr>
                </thead>

                <% 
                let count = 1; 
                for (let product of prods)   {  
                   %>
                    <tbody>
                        <tr>
                          
                            <th scope="row"><%= count++  %></th>
                            <td><img src="<%= product.imageUrl %>"  width="100px" height="80xp" alt=""></td>
                            <td>   <%= product.name %></td>
                            <td> <%= product.price %></td>
                            <td> <%= product.description %></td>
                            <td> <%= product.detail %></td>
                            <td><span class="badge badge-success">Còn hàng</span></td>
                            <td>
                                <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn btn-success btn-sm rounded-0 text-white" type="button" data-toggle="tooltip" data-placement="top" title="Edit"> <i class="fa fa-edit"></i></a>
                                <form action="/admin/delete-product" method="POST">
                                        <input type="hidden" value="<%= product._id %>" name="productId">
                      

                                        <button class="btn" type="submit">Delete</button>
                                    </form>
                                </td>
                        </tr>
                   
                    
                    </tbody>
              <%  } %>
     
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">Trước</span>
                            <span class="sr-only">Sau</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

</div>
</div>